* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-ff440089: #fa916b;
  --color-bf4800: #bf4800;
  --color-232f3e: #232f3e;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  appearance: none;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  transition: background 0.5s ease, color 0.5s ease;
  border: none;
  background: #ff440089;
  color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 8px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.button:hover {
  color: #ffffff;
  background: #222222;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.previousButton,
.nextButton {
  background-color: #faf7f75f;
  border-radius: 5px;
}

/*Header part*/
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-upper .input-group-text {
  background-color: var(--color-ff440089);
}

.header-upper .header-upper-links img {
  width: 25px;
  height: 25px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate(0px, 49px) !important;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-ff440089) !important;
}

/*Header part ends here*/

/* Footer part */
footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-ff440089);
  color: white;
}

.footer-link {
  font-size: 14px;
}

/* Footer part end here */

/* Home page */
.main-banner-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: var(--color-bf4800);
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -2;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

/* Home page ends */